//default  browser font size is normally 16px
//0.625 * 16 = 10px;
//1rem = 10px =>10px;


html {
    font-size: 62.5%;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.6rem;
}