//Colors
$off-black: #080f30;
$dark-blue: #000000;
$off-white: #cacedb;
$purple: #823ceb;
$blue: #07246d;
$light-blue: #3399ece7;

//Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;